@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #0C172A;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-color: #0C172A;
    margin-top: 0px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 250px;
    justify-content: center;
}

main > h1 {
    background-color: #0C172A;
    color: white;
    text-align: center;
}

/* Centraliza e alinha as imagens lado a lado */
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}


.image-container {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    text-align: center;
}


.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.image-container a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

.image-container a:hover {
    color: #75a2e7; 
}

.image-container p{
    padding-top: 10px;
    color: white;
    font-weight:500;
    font-size: 15px;
}

.jogos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}

.jogos-container h1 {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 25px;
   
}

.jogos {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    text-align: center;
}

.jogos img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.jogos a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

.jogos a:hover {
    color: #75a2e7; 
}

.jogos p{
    padding-top: 10px;
    color: white;
    font-weight:500;
    font-size: 15px;
}

